:root{
    --main-header-bg:#a304d3;
    --main-footer-bg:#56382D;
    --main-bg:#fffae5;
    --main-black: #1b1821;
    --main-ivory:#fffae5;
    --main-accent-color:#3d31ad;
    --main-text-color: #f47028;
    --main-highlight-color:#0dc8d7;

    --main-display-border-radius: 1rem;
    --main-display-border-thickness: 2px;

    --main-display-shadow:rgba(0,0,0, 0.5);

    /* #f47028 */
    /* #56382D */
    /* #935f4c */
    /* #fffae5 */
    /* #1b1821 */

}
html{
    font-size: 62.5%;
    
}
body{
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

/* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
font-size: 1.75rem;
line-height: 1.5;
}
header,
footer{
    justify-content: space-around;
}
.header-header{
    padding: 0 1rem;
    color: var(--main-text-color);
    font-size: 200%;
}
header{
    width: 95%;
    margin: 0 auto;
    background-color:var(--main-accent-color);
    padding-bottom: 1rem;
    border-top-left-radius: var(--main-display-border-radius);
    border-top-right-radius: var(--main-display-border-radius);
    min-height: 12rem;
    border-top: var(--main-accent-color) solid var(--main-display-border-thickness);
    border-left: var(--main-accent-color) solid var(--main-display-border-thickness);
    border-right: var(--main-accent-color) solid var(--main-display-border-thickness);
    
}
.header-content{
    min-width: 50%;
    
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}
nav ul li {
    
    min-width: 80%;
    background-color: var(--main-ivory);
    padding: 0 1rem;
    text-align: center;
    border: var(--main-black) solid 2px;
    border-radius: 2rem;
    flex-grow: 1;
    
}
main{
    width: 95%;
    margin: 0 auto;
    /* padding: 1.5rem 0; */
    background-color: var(--main-bg);
    border-left:var(--main-accent-color) solid var(--main-display-border-thickness);
    border-right:var(--main-accent-color) solid var(--main-display-border-thickness);
}
footer{
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;
    background-color: var(--main-accent-color);
    border-bottom-left-radius: var(--main-display-border-radius);
    border-bottom-right-radius: var(--main-display-border-radius);
    border-left: var(--main-accent-color) solid var(--main-display-border-thickness);
    border-right: var(--main-accent-color) solid var(--main-display-border-thickness);
}
.row { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.banner{
    /*  */
    min-height: 12rem;
    background-image: url(../images/44179666.jpg);
    /* background-color: red; */
    background-position: 0 35%;
    background-size: 100%;
    margin-bottom: 1rem;
    /* justify-content: center; */
}
.avatar-container{
    /* background-color: #56382D; */
    /* min-width: 10%;
    min-height: 10%;
    z-index: 1; */
    height: 12rem;
    width: 100%;
    
    display: flex;
    justify-content: center;  
    align-items: center; 
    

}
.avatar{
    /* background-color: #0dc8d7; */
    height: 11.5rem;
    width: 11.5rem;
    border-radius: 6rem;
    background-size: 200%;
    background-position: 51% 40%;
    background-image: url(../images/IMG_0930.jpg);
    border: var(--main-accent-color) solid 0.5rem;
    
     
    /* transform:translate(0% 50%) */
    
}
.about-me{
    display: flex;
    flex-direction: column;
    
}
.about-me-header{
    text-align: center;
    margin: 0.5rem 0;
}
.about-me-content{
    padding: 0 1rem; 
    background-color: var(--main-bg);
    margin: 0 1rem;
}
.work-header{    
    text-align: center;  
    margin: 0.5rem 0;  
}
.work{
    display: flex;
    flex-direction: column;    
}
.work-content{
    display: flex;
    flex-direction: column;
    margin:1rem;
}
.major-project{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;  
}
.major-project-card{
    /* width: 100%; */
    flex-basis: 100%;
    /* used for testing spacing */
    /* background-color: #00ffff; */
    padding: 15px;
    margin: 0.5rem 0;
    /* used for testing spaceing */
    /* outline: #000 solid 2px; */
    /* outline-offset: -8px; */
    min-height: 25rem;
}
.major-project-card .major-1{
    /* background-color: #ff233f; */
    /* transform: translate(0% 100%); */
    /* background-image: url(../images/kevinrhode.github.io_mod-2-miniproject.png); */
    border: var(--main-accent-color) solid 0.5rem;
    
    /* padding: 5% 0; */
    height: 100%;
    width: 100%;
}
.major-1 .bg-image-major-1{
    background-image: url(../images/kevinrhode.github.io_mod-2-miniproject.png);
    opacity: 0.5;
    background-size: 100%;
    height: 100%;
    width: 100%;
}
.card-header-major{
    background-color: var(--main-accent-color);   
    display: inline-block; 
    color: var(--main-text-color);
    transform: translate(-4%, -130%);
    border: var(--main-accent-color) solid 3px;
    border-radius: 5px;
    padding: 3px;
}
[class^="card-header-"] span{
    font-size: 1.25rem;
}
/* .card-header-major span{
    font-size: 1.25rem;
}
.card-header-mini span{
    font-size: 1.25rem;
} */
/* h3[class^=".card-header-"] span{
    font-size: 1.25rem;
} */
.card-header-mini{
    background-color: var(--main-accent-color);   
    display: inline-block; 
    color: var(--main-text-color);
    transform: translate(-3%, -115%);
    border: var(--main-accent-color) solid 3px;
    border-radius: 5px;
    padding: 3px;
}

.mini-project{    
    display: flex;
    flex-wrap: wrap; 
    flex-grow: 1;   
}
.mini-project-card{
    flex-basis: 100%;
    padding: 15px;
    margin: 0.5rem 0;
    outline-offset: -8px;
    position: relative;
    min-height: 12rem;
}
.mini-project-card .mini-1{  
    border: var(--main-accent-color) solid 0.5rem;    
    height: 100%;
    width: 100%;
    transition: .3s;

}
/* new -1 -2 for the project image */
.mini-1 .bg-image-mini{
    background-image: url(../images/defaultbackdrop.jpg);
    opacity: 0.5;
    background-size: 100%;
    height: 100%;
    width: 100%;
}
.mini-1 .bg-image-mini-1{
    background-image: url(../images/kevinrhode.github.io_mod-1-challenge.png);
    opacity: 0.5;
    background-size: 100%;
    height: 100%;
    width: 100%;
}
div[class^="bg-image-"]:hover { 
    box-shadow: 2px 2px 25px 10px var(--main-display-shadow);
    opacity: 0.8;
    position: relative;
    overflow: hidden;
    transition: .3s;
}
.footer-header{
    padding: 0 1rem;
    color: var(--main-text-color);
    font-size: 200%;
}
.footer-content{
    min-width: 50%;
}
.footer-content li{
    background-color: var(--main-ivory);
    margin: 1rem 0;
    padding: 0 1rem; 
    text-align: center;
    border: var(--main-black) solid 2px;
    border-radius: 2rem;
}
@media screen and (min-width:590px) {

    .about-me{
        flex-direction: row;
    }
    .about-me-header{
        /* max-width: 10%; */
        flex-grow: 0.1;
        flex-basis: 15%;
    }
    
    .about-me-content{
        /* max-width: 100%; */
        flex-grow: 1;
        flex-basis: 85%;
    }
    .work{
        flex-direction: row;
    }
    .work-header{
        /* max-width: 10%; */
        flex-grow: 0.1;
        flex-basis: 15%;
    }
    .work-content{
        /* max-width: 100%; */
        flex-grow: 1;
        flex-basis: 85%;
    }    
    .mini-project-card{
        
        /* max-width: 50%; */
        flex-basis: 50%;
    }
    

}
@media screen and (min-width:627px) {
    .avatar-container{
        width: 32%;
    }
    
}
@media screen and (min-width:768px) {
    .mini-project-card{
        max-width: 50%;
    }
    .major-project-card{
        max-width: 100%;
    }
    .header-content nav li{
        flex-grow: 1;
    }
    .header-content nav li:last-child {
        flex-grow: 1;
      }
   
    nav ul li {
        min-width: 25%;
        text-align: center;
    }
}

/* when more then 1 major project to show in future*/

/* @media screen and (min-width:1500px) {
    .mini-project-card{
        max-width: 25%;
    }
    .major-project-card{
        max-width: 50%;
    }
} */

/* div[class^="bg-image-major"]:hover { 
    box-shadow: 2px 2px 25px 10px var(--main-display-shadow);
    opacity: 0.8;
    position: relative;
    overflow: hidden;
    transition: .3s;
} */

/* div[class^="bg-image-mini"]:hover { 
    box-shadow: 2px 2px 25px 10px var(--main-display-shadow);
    opacity: 0.8;
    position: relative;
    overflow: hidden;
    transition: .3s;
} */

/* article[class^="mini-"] div[data-image-src].bg-image-mini{
    background-color: #1b1821;
    background-image: attr(data-image-src);
    background-image: var(--main-mini-bg-placeholder);
} */