:root{

    /* color selection */
    --main-header-bg:#a304d3;
    --main-footer-bg:#56382D;
    --main-bg:#fffae5;

    --main-black: #1b1821;
    --main-ivory:#fffae5;
    
    --main-accent-color:#3d31ad;
    --main-text-color: #f47028;
    --main-highlight-color:#0dc8d7;

    /* styleing for page */
    --main-border-type:solid;

    /* show content standard and fullwidth */
    --main-content-width:95%;
    --main-content-fullwidth:100%;

    /* top and bottom of body settings */
    --main-display-border-radius: 1rem;
    --main-display-border-thickness: 2px;

    /* color of shadow behind projects */
    --main-display-shadow:rgba(0,0,0, 0.5);

    /* website small content soze */
    --main-display-smallitem:16rem;

    /* #f47028 */
    /* #56382D */
    /* #935f4c */
    /* #fffae5 */
    /* #1b1821 */

}
/* set size of 1rem */
html{
    font-size: 62.5%;
    
}
body{
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

/* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
font-size: 1.75rem;
line-height: 1.5;
}
/* keep content in center */
header,
footer{
    justify-content: space-around;
}
.header-header{
    padding: 0 1rem;
    color: var(--main-text-color);
    font-size: 200%;
}
/* rounded top border only with no border on bottom, sizing */
header{
    width: var(--main-content-width);
    margin: 0 auto;
    background-color:var(--main-accent-color);
    padding-bottom: 1rem;
    border-top-left-radius: var(--main-display-border-radius);
    border-top-right-radius: var(--main-display-border-radius);
    min-height: var(--main-display-smallitem);
    border-top: var(--main-accent-color) var(--main-border-type) var(--main-display-border-thickness);
    border-left: var(--main-accent-color) var(--main-border-type) var(--main-display-border-thickness);
    border-right: var(--main-accent-color) var(--main-border-type) var(--main-display-border-thickness);
    
}
/* added size of menu buttons */
.header-content{
    min-width: 50%;
    
}
/* create flexbox container */
nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}
/* set flexbox item properties */
nav ul li {
    
    min-width: 80%;
    background-color: var(--main-ivory);
    padding: 0 1rem;
    text-align: center;
    border: var(--main-black) var(--main-border-type) 2px;
    border-radius: 2rem;
    flex-grow: 1;
    
}
/* style around all sections about me, work, banner */
main{
    width: var(--main-content-width);
    margin: 0 auto;
    background-color: var(--main-bg);
    border-left:var(--main-accent-color) var(--main-border-type) var(--main-display-border-thickness);
    border-right:var(--main-accent-color) var(--main-border-type) var(--main-display-border-thickness);
}
/* style for footer with rounding on only bottom */
footer{
    width: var(--main-content-width);
    margin: 0 auto;
    padding: 1rem 0 1rem 0;
    background-color: var(--main-accent-color);
    border-bottom-left-radius: var(--main-display-border-radius);
    border-bottom-right-radius: var(--main-display-border-radius);
    border-left: var(--main-accent-color) var(--main-border-type) var(--main-display-border-thickness);
    border-right: var(--main-accent-color) var(--main-border-type) var(--main-display-border-thickness);
}
/* quick flex box row */
.row { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
/* center content */
.justify-content{
    justify-content: center;
}
/* show background and set height of image behind avatar */
.banner{
    min-height: var(--main-display-smallitem);
    background-image: url(../images/44179666.jpg);
    background-position: 0 35%;
    background-size: 100%;
    margin-bottom: 1rem;
}
/* style for container of avatar image */
.avatar-container{
    height: var(--main-display-smallitem);
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center; 
}
/* avatar content with image at backgrund. center in mobile */
.avatar{
    /* background-color: #0dc8d7; */
    height: 11.5rem;
    width: 11.5rem;
    border-radius: 6rem;
    background-size: 200%;
    background-position: 51% 40%;
    background-image: url(../images/IMG_0930.jpg);
    border: var(--main-accent-color) var(--main-border-type) 0.5rem;
    /* transform:translate(0% 50%) */
    
}
/* flexbox column */
.about-me{
    display: flex;
    flex-direction: column;
}
/* content alignment */
.about-me-header{
    text-align: center;
    margin: 0.5rem 0;
}
/* styling of page */
.about-me-content{
    padding: 0 1rem; 
    background-color: var(--main-bg);
    margin: 0 1rem;
}
/* content alignment */
.work-header{    
    text-align: center;  
    margin: 0.5rem 0;  
}
.work{
    display: flex;
    flex-direction: column;    
}
.work-content{
    display: flex;
    flex-direction: column;
    margin:1rem;
}
.major-project{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;  
}
.major-project-card{
   
    flex-basis: var(--main-content-fullwidth);
    padding: 15px;
    margin: 0.5rem 0;
    min-height: 25rem;
}
.major-project-card .major-1{
   border: var(--main-accent-color) var(--main-border-type) 0.5rem;
    height: var(--main-content-fullwidth);
    width: var(--main-content-fullwidth);
}
.major-1 .bg-image-major-1{
    background-image: url(../images/volunteer-finder_volunteer-list.html.png);
    background-position: 0% 22%;
    opacity: 0.5;
    background-size: 100%;
    height: var(--main-content-fullwidth);
    width: var(--main-content-fullwidth);
}
/* move header for larger project title */
.card-header-major{
    transform: translate(-4%, -130%);
}
/* styling for major and mini project header */
[class^="card-header-m"]{
    background-color: var(--main-accent-color);   
    display: inline-block; 
    color: var(--main-text-color);
    border: var(--main-accent-color) var(--main-border-type) 3px;
    border-radius: 5px;
    padding: 3px;
}
/* subtext sizing for project headers */
[class^="card-header-"] span{
    font-size: 1.25rem;
}
/* move header for smaller mini projects */
.card-header-mini{
    transform: translate(-3%, -115%);
}
/* set to flex box */
.mini-project{    
    display: flex;
    flex-wrap: wrap; 
    flex-grow: 1;   
}
.mini-project-card{
    flex-basis: var(--main-content-fullwidth);
    padding: 15px;
    margin: 0.5rem 0;
    outline-offset: -8px;
    position: relative;
    min-height: var(--main-display-smallitem);
}
.mini-project-card .mini-1{  
    border: var(--main-accent-color) var(--main-border-type) 0.5rem;    
    height: var(--main-content-fullwidth);
    width: var(--main-content-fullwidth);
    transition: .3s;

}
/* new -1 -2 for the project image */
.mini-1 .bg-image-mini{
    background-image: url(../images/defaultbackdrop.jpg);
    opacity: 0.5;
    background-size: 100%;
    height: var(--main-content-fullwidth);
    width: var(--main-content-fullwidth);
}
.mini-1 .bg-image-mini-1{
    background-image: url(../images/kevinrhode.github.io_mod-1-challenge.png);
    opacity: 0.5;
    background-size: 100%;
    height: var(--main-content-fullwidth);
    width: var(--main-content-fullwidth);
}
.mini-1 .bg-image-mini-2{
    background-image: url(../images/kevinrhode.github.io_mod-2-miniproject.png);
    opacity: 0.5;
    background-size: 100%;
    height: var(--main-content-fullwidth);
    width: var(--main-content-fullwidth);
}
.mini-1 .bg-image-mini-3{
    background-image: url(../images/Javascript-pass-gen.png);
    opacity: 0.5;
    background-size: 100%;
    height: var(--main-content-fullwidth);
    width: var(--main-content-fullwidth);
}
.mini-1 .bg-image-mini-4{
    background-image: url(../images/day-planner.png);
    opacity: 0.5;
    background-size: 100%;
    height: var(--main-content-fullwidth);
    width: var(--main-content-fullwidth);
}
/* shadow on projects for animation */
div[class^="bg-image-"]:hover { 
    box-shadow: 2px 2px 25px 10px var(--main-display-shadow);
    opacity: 0.8;
    position: relative;
    overflow: hidden;
    transition: .3s;
}
/* styling for color */
.footer-header{
    padding: 0 1rem;
    color: var(--main-text-color);
    font-size: 200%;
}
.footer-content{
    min-width: 50%;
}
/* address content style */
.footer-content li{
    background-color: var(--main-ivory);
    margin: 1rem 0;
    padding: 0 1rem; 
    text-align: center;
    border: var(--main-black) var(--main-border-type) 2px;
    border-radius: 2rem;
}
@media screen and (min-width:590px) {

    /* switch direction of flex for style */
    .about-me{
        flex-direction: row;
    }
    /* keep row 15% of page */
    .about-me-header{
        /* max-width: 10%; */
        flex-grow: 0.1;
        flex-basis: 15%;
    }
    /* keep row content 85% of page */
    .about-me-content{
        /* max-width: 100%; */
        flex-grow: 1;
        flex-basis: 85%;
    }
    /* match style */
    .work{
        flex-direction: row;
    }
    /* match style */
    .work-header{
        /* max-width: 10%; */
        flex-grow: 0.1;
        flex-basis: 15%;
    }
    /* match style */
    .work-content{
        /* max-width: 100%; */
        flex-grow: 1;
        flex-basis: 85%;
    }    
    /* remove mini projects from 1 per line to 2 */
    .mini-project-card{
        
        /* max-width: 50%; */
        flex-basis: 50%;
    }
    

}
@media screen and (min-width:627px) {
    /* move avatar to below name */
    .avatar-container{
        width: 32%;
    }
    
}
@media screen and (min-width:768px) {
    /* set minor projects to 2 */
    .mini-project-card{
        max-width: 50%;
    }
    .major-project-card{
        max-width: 100%;
    }
    .header-content nav li{
        flex-grow: 1;
    }
    /* top nav grow for small portion */
    .header-content nav li:last-child {
        flex-grow: 1;
      }
   
    nav ul li {
        min-width: 25%;
        text-align: center;
    }
}

/* when more then 1 major project to show in future*/

/* @media screen and (min-width:1500px) {
    .mini-project-card{
        max-width: 25%;
    }
    .major-project-card{
        max-width: 50%;
    }
} */

/* notes of old code below */

/* .card-header-major span{
    font-size: 1.25rem;
}
.card-header-mini span{
    font-size: 1.25rem;
} */
/* h3[class^=".card-header-"] span{
    font-size: 1.25rem;
} */
/* div[class^="bg-image-major"]:hover { 
    box-shadow: 2px 2px 25px 10px var(--main-display-shadow);
    opacity: 0.8;
    position: relative;
    overflow: hidden;
    transition: .3s;
} */

/* div[class^="bg-image-mini"]:hover { 
    box-shadow: 2px 2px 25px 10px var(--main-display-shadow);
    opacity: 0.8;
    position: relative;
    overflow: hidden;
    transition: .3s;
} */

/* article[class^="mini-"] div[data-image-src].bg-image-mini{
    background-color: #1b1821;
    background-image: attr(data-image-src);
    background-image: var(--main-mini-bg-placeholder);
} */