:root{
    --main-header-bg:#fff;
    --main-footer-bg:#fff;
}
html{
    font-size: 62.5%;
    
}
body{
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

/* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
font-size: 1.75rem;
line-height: 1.5;
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
/* color: var(--gin); */
/* background-color: var(--outer-space); */
}
header,
footer{
    justify-content: space-around;
}
header{
    width: 95%;
    margin: 1rem auto;
    background-color:#00ffff;
    padding-bottom: 1rem;
}
.header-content{
    min-width: 50%;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
   
}
nav ul li {
    min-width: 50%;
    text-align: center;
    background-color: #09d305;
    border: #fff solid 2px;
    
}
main{
    width: 95%;
    margin: 0.5rem auto;
    padding: 1.5rem 0;
    background-color: #09d305;
}
footer{
    width: 95%;
    margin: 1rem auto;
    padding: 1rem 0 1rem 0;
    background-color: #00ffff;
}
.row { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.banner{
    min-height: 6rem;
    background-color: red;
    margin-bottom: 1rem;
}
.about-me{
    display: flex;
    flex-direction: column;
    
}
.about-me-header{
    text-align: center;
    margin: 0.5rem 0;
}
.about-me-content{
    padding: 0 1rem; 
    background-color: #00ffff;
    margin: 0 1rem;
}
.work-header{    
    text-align: center;  
    margin: 0.5rem 0;  
}

.work{
    display: flex;
    flex-direction: column;    
}

.work-content{
    display: flex;
    flex-direction: column;
    margin:1rem;
}

.major-project{
    display: flex;
    flex-wrap: wrap;
    /* margin:1rem 0; */
}
.major-project-card{
    width: 100%;
    background-color: #00ffff;
    margin: 0.5rem 0;
    padding: 1rem;
}


.mini-project{
    
    display: flex;
    flex-wrap: wrap;    
}
.mini-project-card{
    width: 100%;
    background-color: #00ffff;
    margin: 0.5rem 0;
}

.footer-content{
    min-width: 50%;
}
.footer-content li{
    background-color: #09d305;
    margin: 1rem 0;
    text-align: center;
    border: #fff solid 2px
}


@media screen and (min-width:590px) {
    .about-me{
        flex-direction: row;
    }
    .about-me-header{
        width: 10%;
    }
    .about-me-content{
        width: 100%;
    }
    .work{
        flex-direction: row;
    }
    .work-header{
        width: 10%;
    }
    .work-content{
        width: 100%;
    }    
    .mini-project-card{
        
        max-width: 50%;
    }
  

}


@media screen and (min-width:768px) {
    .mini-project-card{
        max-width: 25%;
    }
    .major-project-card{
        max-width: 100%;
    }
   
    nav ul li {
        min-width: 25%;
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    
}